@*@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4" style="color:blue">Welcome To RiddhaSoft</h1>
    <p style="color:red"> <i>Your Own Company</i></p>
</div>
*@
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
    <h1 class="display-4" style="color: blue;">Welcome To RiddhaSoft</h1>
    <p style="color: red;"><i>Your Own Company</i></p>
</div>
